{% extends "index.html" %}

{% block content %}
<h1 style="font-size:70px; margin: 10px 10px 10px 10px">{{biblio_obj.nombre}}</h1>

<div>
  <button type="button" style="font-size:20px; font-weight:bold; margin: 70px 0px 20px 10px" onclick="openForm_newTag()">Nueva Etiqueta</button>
</div>

<form method="post" id="myForm"  action="/editar_extracto_pagina/{{extracto.id}}" enctype="multipart/form-data">
  <input type="submit" value="Guardar" style="font-weight:bold; font-size:20px;  margin: -65px 1000px 20px 200px">
        {% csrf_token %}
<div style="height: auto;">
  <div style="width: 55%; float:left; margin: 30px -100px">
    <textarea rows="10" cols="35" name="extracto" form="myForm" style="font-size:30px; font-weight:bold;">{{ extracto.extracto}}</textarea>
  </div>

  <div style="width: 45%;  height: 450px; float:right; margin: 20px -10px">
    <p style="font-size:30px; font-weight:bold; margin: 10px 0px 20px -20px">
      Bibliografia:
    </p>
    <p style="font-size:30px; font-weight:bold; margin: 10px 0px 20px 10px">
      <a href="/bibliografia/{{ extracto.bibliografia.id }}">{{ extracto.bibliografia.nombre }}</a>
    </p>
    <p style="font-size:30px; font-weight:bold; margin:  20px -15px">
      Tags:
    </p>
    {% for extracto_tag in extracto.etiqueta.all %}
    <p style="font-size:20px; font-weight:normal; margin: 10px 0px 20px 10px">
      - {{extracto_tag.nombre}}
    </p>
    {% endfor %}
    <p style="font-size:30px; font-weight:bold; margin:  20px -15px">
      Nuevo Tag:
    </p>
    <div  style="overflow-y: scroll; height:60px;">
      {% for tag in new_tag_list %}
        <p><input type="checkbox" name="tag_{{tag.id}}" id="tag_{{tag.id}}"/>{{tag.nombre}}</p>
      {% endfor %}
    </div>
    <p style="font-size:30px; font-weight:bold; margin:  20px -15px">
      Pensar
    </p><input type="checkbox"  name="pensar" {% if extracto.pensar %}checked="checked"{% endif %} style="font-weight:bold; font-size:20px; width: 20px; height: 20px; margin: -65px 0px 20px 100px">
    <p style="font-size:30px; font-weight:bold; margin:  0px -15px">
      Posicion: <label style="font-size:30px; font-weight:Normal"> {{extracto.posicion}} </label>
    </p>

  </div>

</div>

</form>

<!-- The form -->
<div class="form-popup" id="myForm_Tag">
  <p style=" margin: 10px 10px 10px 10px">
      <label>Nueva Etiqueta</label><br/>
  </p>
  <form method="post" action="/nueva_etiqueta" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="checkbox" name="is_html" checked="checked" style="display:none">
      <input type="text" style="display:none" name="extracto" value="{{extracto.id}}">
      <p style=" margin: 10px 10px 10px 10px">
          <label>Nombre</label><br/>
          <input type="text" id="nombre" name="nombre">
      </p>
      <p>Numero de padres
        <select id="numero_padres" name="numero_padres" onchange="more_dad(this.selectedIndex);">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
        </select>
      </p>
      <p style=" margin: 10px 10px 10px 10px"> Etiqueta Padre
        <select id="etiqueta_padre1" name="etiqueta_padre1">
          {% for tag in tag_list %}
            <option value="{{tag.id}}">{{tag.nombre}}</option>
          {% endfor %}
          <option value="no">Huerfano</option>
        </select>
      </p>
      <p id="etiqueta_padre2" style=" margin: 10px 10px 10px 10px; display:None"> Etiqueta Padre
        <select  name="etiqueta_padre2">
          {% for tag in tag_list %}
            <option value="{{tag.id}}">{{tag.nombre}}</option>
          {% endfor %}
        </select>
      </p>
      <p id="etiqueta_padre3" style=" margin: 10px 10px 10px 10px; display:None"> Etiqueta Padre
        <select  name="etiqueta_padre3">
          {% for tag in tag_list %}
            <option value="{{tag.id}}">{{tag.nombre}}</option>
          {% endfor %}
        </select>
      </p>
      <input type="submit">
      <button type="button" class="btn cancel" onclick="closeForm_newTag()">Cerrar</button>
  </form>

</div>

<article>

<p style="font-size:50px; font-weight:bold;  margin-top: 350px; margin-bottom: -400px;">
  Zettelcasten
</p>

  <table border="1" style="border-collapse: collapse; width: 120%; font-size:30px">
  <tbody>

      <tr style="height:30px">
        <td style="width: 3%;font-weight:bold">Id</td>
        <td style="font-weight:bold">Texto</td>
      </tr>


    {% for zettle in zettle_list %}

      <tr style="height:30px">
        <td style="width: 3%;font-weight:bold; font-size:20px"><a href="/zettlecasten_in/{{zettle.id}}">{{zettle.id}}</a></td>
        <td style="font-size:20px">{{zettle.contenido}}</td>
      </tr>

    {% endfor %}
  </tbody>
  </table>


</article>


<script>
// When the user clicks on <div>, open the popup

function openForm_newTag(){
  document.getElementById("myForm_Tag").style.display = "block";
}

function closeForm_newTag() {
  document.getElementById("myForm_Tag").style.display = "none";
}

function btnClick() {
    if (!validData())
        return false;
}

function eliminar_extracto(id) {
  window.location.replace("eliminar_extracto/".concat(id));
}

function eliminar_referencia(id) {
  window.location.replace("eliminar_referencia/".concat(id));
}

function eliminar_zettel(id) {
  window.location.replace("eliminar_zettel/".concat(id));
}

function relacionar_zettel(id) {
  window.location.replace("relacionar_zettel/".concat(id));
}

function relacionar_extracto_zettel(id) {
  window.location.replace("relacionar_extracto_zettel/".concat(id));
}

function more_dad(num_dad){
  if (num_dad==0){
    document.getElementById("etiqueta_padre2").style.display = "none";
    document.getElementById("etiqueta_padre3").style.display = "none";
  } else if (num_dad==1){
    document.getElementById("etiqueta_padre2").style.display = "block";
    document.getElementById("etiqueta_padre3").style.display = "none";
  } else if (num_dad==2){
    document.getElementById("etiqueta_padre2").style.display = "block";
    document.getElementById("etiqueta_padre3").style.display = "block";
  }
}

</script>


{% endblock %}
