{% extends "index.html" %}

{% block content %}
<h1 style=" margin: 10px 10px 10px 10px">Nuevos Items</h1>
<button type="button" class="btn cancel" style="font-size:20px; font-weight:bold" onclick="nuevo_zettel()">Nuevo Zettelcasten</button>
<button type="button" class="btn cancel" style="font-size:20px; font-weight:bold" onclick="imprimir_zett()">Imprimir Zettelcasten</button>

<p style="font-size:50px; font-weight:bold; margin: 10px 0px 20px 10px">
  Zettlecasten
</p>
<article>

  <table border="1" style="border-collapse: collapse; width: 120%;">
  <tbody>

    <tr style="height:30px">
      <td style="width: 3%">id</td>
      <td style="width: 60%;font-weight:bold">Texto</td>
      <td style="width: 10%;font-weight:bold">
        <select name="select" style="font-weight:bold" onchange="filter_tag()" id="tag_select">
          <option value="TAG">Tag</option>
          {% for tag in tag_list %}
            <option value="{{tag.id}}" {% if tag_filter_id == tag.id %}selected{% endif %}>{{tag.nombre}}</option>
          {% endfor %}
        </select></td>
      <!-- <td style="width: 10%;font-weight:bold">
        <select name="select" style="font-weight:bold" onchange="filter_bib()" id="bib_select">
          <option value="BIB">Pertenece a</option>
          {% for bib in bib_list %}
            <option value="{{bib.id}}" {% if bib_filter_id == bib.id %}selected{% endif %}>{{bib.nombre}}</option>
          {% endfor %}
        </select></td> -->
    </tr>


    {% for zettle in lista_zettlecasten %}

    <tr style="height:30px">
      <td><a href="/zettlecasten_in/{{zettle.id}}">{{zettle.id}}</a></td>
      <td style="width: 60%">{{zettle.contenido}}<p style="color:white">a</p></td>
      <td style="width: 10%;vertical-align: middle;">
        {% for tag in zettle.etiqueta.all %}
          <p>{{tag.nombre}}</p>
        {% endfor %}
        <p style="color:white">a</p>
      </td>
      <!-- <td style="width: 8%;vertical-align: middle;">
        {{zettle.bibliografia.nombre}} <p style="color:white">a</p>
      </td> -->
    </tr>

    {% endfor %}
  </tbody>
  </table>


</article>
{% if pagina_actual %}
<button type="button" onclick="prev_page()">Pag. {{pagina_anterior}}</button>
{% endif %}
{% if ultima_pagina %}
<button type="button" onclick="next_page()">Pag. {{pagina_siguiente}}</button>
{% endif %}

<script>
// When the user clicks on <div>, open the popup

function prev_page(){

  {% if hay_filtro %}
  window.location.replace("/zettlecasten/page/{{pagina_anterior}}");
  {% else %}
  window.location.replace("/zettlecasten/page/{{pagina_anterior}}/filtro/{{filtro}}");
  {% endif %}
}

function next_page(){
  {% if hay_filtro %}
    window.location.replace("/zettlecasten/page/{{pagina_siguiente}}");
  {% else %}
    window.location.replace("/zettlecasten/page/{{pagina_siguiente}}/filtro/{{filtro}}");
  {% endif %}
}

function filter_tag(){

  tag_select_value = document.getElementById("tag_select").value;

  if(tag_select_value==="TAG"){
    new_filter_tag="tagNO";

  {% for tag in tag_list %}
  }else if(tag_select_value==="{{tag.id}}"){
      new_filter_tag="tag{{tag.id}}";
  {% endfor %}
  }

  filter_text = "{{filtro}}";
  if (filter_text===""){
    prev_filter_bib="bibNO";
  }else if(filter_text==="0"){
    prev_filter_bib="bibNO";
  }else{
    prev_filter_bib = filter_text.split("_")[1];
  }
  newFilter = new_filter_tag.concat("_",prev_filter_bib);
  window.location.replace("/zettlecasten/page/{{pagina_actual}}/filtro/".concat(newFilter));
}

function filter_bib(){

  bib_select_value = document.getElementById("bib_select").value;

  if(bib_select_value==="BIB"){
    new_filter_bib="bibNO";

  {% for bib in bib_list %}
  }else if(bib_select_value==="{{bib.id}}"){
      new_filter_bib="bib{{bib.id}}";
  {% endfor %}
  }

  filter_text = "{{filtro}}";
  if (filter_text===""){
    prev_filter_tag="tagNO";
  }else if(filter_text==="0"){
    prev_filter_tag="tagNO";
  }else{
    prev_filter_tag = filter_text.split("_")[0];
  }
  newFilter = prev_filter_tag.concat("_",new_filter_bib);
  window.location.replace("/zettlecasten/page/{{pagina_actual}}/filtro/".concat(newFilter));
}

function nuevo_zettel(){
  window.location.replace("/nuevo_zettlecasten");
}

function imprimir_zett(){
  {% if hay_filtro %}
    window.location.replace("/imprimir_zett/page/{{pagina_siguiente}}");
  {% else %}
    window.location.replace("/imprimir_zett/page/{{pagina_siguiente}}/filtro/{{filtro}}");
  {% endif %}
}
// function more_dad(num_dad){
//   if (num_dad==0){
//     document.getElementById("etiqueta_padre2").style.display = "none";
//     document.getElementById("etiqueta_padre3").style.display = "none";
//   } else if (num_dad==1){
//     document.getElementById("etiqueta_padre2").style.display = "block";
//     document.getElementById("etiqueta_padre3").style.display = "none";
//   } else if (num_dad==2){
//     document.getElementById("etiqueta_padre2").style.display = "block";
//     document.getElementById("etiqueta_padre3").style.display = "block";
//   }
// }


</script>


{% endblock %}
