{% extends "index.html" %}
{% load filtros_templates %}
{% block content %}
<h1 style=" margin: 10px 10px 10px 10px">Nuevos Items</h1>

<button type="button" onclick="openForm_txt()">Procesar TXT</button>

<!-- The form -->
<div class="form-popup" id="myForm">
  <p style=" margin: 10px 10px 10px 10px">
      <label>Procesar TXT</label><br/>
  </p>
  <form method="post" action="/procesar_txt" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="checkbox" name="is_txt" checked="checked" style="display:none">
      <p style=" margin: 10px 10px 10px 10px">
          <label>Add file (single): </label><br/>
          <input type="file" name="fichero_txt">
      </p>
      <p style=" margin: 10px 10px 10px 10px"> Bibliografia
        <input type="checkbox" name="contains_biblio">
        <select id="biblio" name="biblio">
          {% for biblio in biblio_list %}
            <option value="{{biblio.id}}">{{biblio.nombre}}</option>
          {% endfor %}
        </select>
        <p>
          <input type="submit">
          <button type="button" class="btn cancel" onclick="closeForm()">Cerrar</button>
  </form>

</div>

<button type="button" onclick="openForm_HTML()">Procesar HTML</button>

<!-- The form -->
<div class="form-popup" id="myForm_hmtl">
  <p style=" margin: 10px 10px 10px 10px">
      <label>Procesar HTML</label><br/>
  </p>
  <form method="post" action="/procesar_txt" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="checkbox" name="is_html" checked="checked" style="display:none">
      <p style=" margin: 10px 10px 10px 10px">
          <label>Add file (single): </label><br/>
          <input type="file" name="fichero_html">
      </p>
      <p style=" margin: 10px 10px 10px 10px"> Bibliografia
        <input type="checkbox" name="contains_biblio">
        <select id="biblio" name="biblio">
          {% for biblio in biblio_list %}
            <option value="{{biblio.id}}">{{biblio.nombre}}</option>
          {% endfor %}
        </select>
        <p>
          <input type="submit">
          <button type="button" class="btn cancel" onclick="closeForm_hmtl()">Cerrar</button>
  </form>

</div>

<button type="button" onclick="openForm_zett()">Procesar Grabaciones</button>

<!-- The form -->
<div class="form-popup" id="myForm_zett">
  <p style=" margin: 10px 10px 10px 10px">
      <label>Procesar Grabaciones</label><br/>
  </p>
  <form method="post" action="/process_zettelcasten" enctype="multipart/form-data">
      {% csrf_token %}
      <p style=" margin: 10px 10px 10px 10px">
          <label>Add file (single): </label><br/>
          <input type="file" name="fichero_txt">
      </p>
          <input type="submit">
          <button type="button" class="btn cancel" onclick="closeForm_zet()">Cerrar</button>
  </form>

</div>

<button type="button" onclick="openForm_newTag()">Nueva Etiqueta</button>

<!-- The form -->
<div class="form-popup" id="myForm_Tag">
  <p style=" margin: 10px 10px 10px 10px">
      <label>Nueva Etiqueta</label><br/>
  </p>
  <form method="post" action="/nueva_etiqueta" enctype="multipart/form-data">
      {% csrf_token %}
      <p style=" margin: 10px 10px 10px 10px">
          <label>Nombre</label><br/>
          <input type="text" id="nombre" name="nombre">
      </p>
      <p>Numero de padres
        <select id="numero_padres" name="numero_padres" onchange="more_dad(this.selectedIndex);">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
        </select>
      </p>
      <p style=" margin: 10px 10px 10px 10px"> Etiqueta Padre
        <select id="etiqueta_padre1" name="etiqueta_padre1">
          {% for tag in tag_list %}
            <option value="{{tag.id}}">{{tag.nombre}}</option>
          {% endfor %}
          <option value="no">Huerfano</option>
        </select>
      </p>
      <div style="display:none" id="etiqueta_padre2">
        <p style=" margin: 10px 10px 10px 10px"> Etiqueta Padre
          <select id="etiqueta_padre2" name="etiqueta_padre2">
            {% for tag in tag_list %}
              <option value="{{tag.id}}">{{tag.nombre}}</option>
            {% endfor %}
          </select>
        </p>
      </div>
      <div style="display:none" id="etiqueta_padre3">
        <p style=" margin: 10px 10px 10px 10px"> Etiqueta Padre
          <select id="etiqueta_padre3" name="etiqueta_padre3">
            {% for tag in tag_list %}
              <option value="{{tag.id}}">{{tag.nombre}}</option>
            {% endfor %}
          </select>
        </p>
      </div>
      <input type="submit">
      <button type="button" class="btn cancel" onclick="closeForm_newTag()">Cerrar</button>
  </form>

</div>

<p style="font-size:50px; font-weight:bold; margin: 10px 0px 20px 10px">
  Subrayados
</p>
<article>

  <table border="1" style="border-collapse: collapse; width: 120%; margin-left:-120px">
  <tbody>

      <tr style="height:30px">
        <td style="width: 40%;font-weight:bold">Texto</td>
        <td style="width: 8%;font-weight:bold">Tag</td>
        <td style="width: 8%;font-weight:bold">Libro</td>
        <!-- <td style="width: 12.5%;">Tipo</td> -->
        <td style="width: 8%;font-weight:bold">Posicion</td>
        <td style="width: 8%;font-weight:bold">Pensar</td>
        <td style="width: 8%;font-weight:bold">Eliminar</td>
        <td style="width: 8%;font-weight:bold">Enviar</td>
        <td style="width: 8%;font-weight:bold">Hacer Ref.</td>
      </tr>


    {% for Subrayados in subrayados_huerfanas %}
    <form method="post" action="/editar_extracto/{{ Subrayados.id }}" id="sub_{{ Subrayados.id }}" enctype="multipart/form-data">
        {% csrf_token %}
      <tr style="height:30px">
        <td style="width: 40%;"><textarea rows="4" cols="60" name="extracto" form="sub_{{ Subrayados.id }}">{{ Subrayados.extracto }}
{% if Subrayados.comentario != "" %}Comentario: {{ Subrayados.comentario }}{% endif %}</textarea></td>
        <td style="width: 15%;vertical-align: middle;">
          <div  style="overflow-y: scroll; height:60px;">
            {% for tag in tag_list %}
            <p><input type="checkbox" name="tag_{{tag.id}}" id="tag_{{tag.id}}" {% if tag in Subrayados.etiqueta.all %} checked {% endif %}/>
              {{tag.nombre}}</p>
            {% endfor %}
          </div>
        </td>
        <td style="width: 8%;vertical-align: middle;">
          <select id="biblio" name="biblio">
            {% for biblio in biblio_list %}
              <option value="{{biblio.id}}" {% if biblio.nombre == Subrayados.bibliografia.nombre %} selected="selected" {% endif %}>{{biblio.nombre}}</option>
            {% endfor %}
          </select>
        </td>
        <td style="width: 8%;vertical-align: middle;"><input type="text" size="1" name="posicion" value="{{ Subrayados.posicion}}" /></td>
        <!-- <td style="width: 8%;">{{ Subrayados.tipo.nombre}}</td> -->
        <td style="width: 8%;vertical-align: middle;"><input type="checkbox" name="pensar" {% if Subrayados.pensar == 1 %} checked {% endif %}></td>
        <td style="width: 8%;vertical-align: middle;"><button type="button" class="btn cancel" onclick="eliminar_extracto({{ Subrayados.id}})">Eliminar</button></td>
        <td style="width: 8%;vertical-align: middle;"><input type="submit"></td>
        <td style="width: 8%;vertical-align: middle;"><button type="button" class="btn cancel" onclick="hacer_ref({{ Subrayados.id}})">Ref.</button></td>
      </tr>
    </form>

    {% endfor %}
  </tbody>
  </table>


</article>
<p style="font-size:50px; font-weight:bold; margin: 10px 0px 20px 10px">
  Referencias
</p>
<article>

  <table border="1" style="border-collapse: collapse; width: 120%;margin-left:-120px">
  <tbody>

      <tr style="height:30px">
        <td style="width: 20%;font-weight:bold">Referencia</td>
        <td style="width: 10%;font-weight:bold">Tipo</td>
        <!-- <td style="width: 20%;font-weight:bold">Comentario</td> -->
        <!-- <td style="width: 12.5%;">Tipo</td> -->
        <td style="width: 20%;font-weight:bold">Bibliografia</td>
        <td style="width: 8%;font-weight:bold">Eliminar</td>
        <td style="width: 8%;font-weight:bold">Enviar</td>
      </tr>


    {% for Referencia in referencias_huerfanas %}
    <form method="post" action="/editar_referencia/{{ Referencia.id }}" id="ref_{{ Referencia.id }}" enctype="multipart/form-data">
        {% csrf_token %}
      <tr style="height:30px">
        <td style="width: 30%;"><textarea rows="3" cols="50" name="Referencia" form="ref_{{ Referencia.id }}">{{ Referencia.referencia }}</textarea></td>
        <td style="width: 10%;vertical-align: middle;">
          <select name="tipo" size="3">
            {% for tipo in tipo_list %}
              <option {% if tipo.nombre == Referencia.tipo.all.first.nombre %} selected="selected" {% endif %}> {{ tipo.nombre }}</option>
            {% endfor %}
          </select>
        </td>
        <!-- <td style="width: 20%;"><textarea rows="1" cols="30" name="Comentario" form="ref_{{ Referencia.id }}">{{ Referencia.comentario }}</textarea></td> -->
        <td style="width: 20%; vertical-align: up;">
          <select id="biblio" name="biblio">
            {% for biblio in biblio_list %}
              <option value="{{biblio.id}}" {% if biblio.nombre == Referencia.bibliografia.all.first.nombre %} selected="selected" {% endif %}>{{biblio.nombre}}</option>
            {% endfor %}
          </select>
        </td>
        <td style="width: 8%;vertical-align: up;"><button type="button" class="btn cancel" onclick="eliminar_referencia({{ Referencia.id}})">Eliminar</button></td>
        <td style="width: 8%;vertical-align: up;"><input type="submit"></td>
      </tr>
    </form>

    {% endfor %}

  </tbody>
  </table>


</article>

<p style="font-size:50px; font-weight:bold; margin: 50px 0px 20px 10px">
  Zettelcasten
</p>
<article>

  <table border="1" style="border-collapse: collapse; width: 120%;margin-left:-120px">
  <tbody>

      <tr style="height:30px">
        <td style="width: 40%;font-weight:bold">Texto</td>
        <td style="width: 10%;font-weight:bold">Tag</td>
        <td style="width: 10%;font-weight:bold">Extracto</td>
        <td style="width: 10%;font-weight:bold">Zettelcasten Relacionado</td>
        <td style="width: 10%;font-weight:bold">Eliminar</td>
        <td style="width: 10%;font-weight:bold">Enviar</td>
      </tr>

    {% for zettlecasten in zettlecasten_huerfanas %}
    <form method="post" action="/editar_zettelcasten/{{ zettlecasten.id }}" id="zet_{{ zettlecasten.id }}" enctype="multipart/form-data">
        {% csrf_token %}
      <tr style="height:30px">
        <td style="width: 40%;"><textarea rows="3" cols="60" name="contenido" form="zet_{{ zettlecasten.id }}">{{ zettlecasten.contenido }}</textarea></td>
        <td style="width: 10%;vertical-align: middle;">
          <div  style="overflow-y: scroll; height:60px;">
            {% for tag in tag_list %}
            <p><input type="checkbox" name="tag_{{tag.id}}" id="tag_{{tag.id}}" {% if tag in zettlecasten.etiqueta.all %} checked {% endif %}/>
              {{tag.nombre}}</p>
            {% endfor %}
          </div>
        </td>
        <td style="width: 10%;vertical-align: up;"><button type="button" class="btn cancel" onclick="relacionar_extracto_zettel({{ zettlecasten.id }})">Extracto</button></td>
        <td style="width: 10%;vertical-align: up;"><button type="button" class="btn cancel" onclick="relacionar_zettel({{ zettlecasten.id }})">Zettelcasten</button></td>
        <td style="width: 10%;vertical-align: up;"><button type="button" class="btn cancel" onclick="eliminar_zettel({{ zettlecasten.id }})">Eliminar</button></td>
        <td style="width: 10%;vertical-align: up;"><input type="submit"></td>
      </tr>
    </form>

    {% endfor %}

  </tbody>
  </table>


</article>

<script>
// When the user clicks on <div>, open the popup

function openForm_newTag(){
  document.getElementById("myForm_hmtl").style.display = "none";
  document.getElementById("myForm").style.display = "none";
  document.getElementById("myForm_Tag").style.display = "block";
  document.getElementById("myForm_zett").style.display = "none";
}

function closeForm_newTag() {
  document.getElementById("myForm_Tag").style.display = "none";
}

function openForm_txt() {
  document.getElementById("myForm_hmtl").style.display = "none";
  document.getElementById("myForm").style.display = "block";
  document.getElementById("myForm_Tag").style.display = "none";
  document.getElementById("myForm_zett").style.display = "none";
}

function closeForm() {
  document.getElementById("myForm").style.display = "none";
}

function openForm_HTML() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("myForm_hmtl").style.display = "block";
  document.getElementById("myForm_Tag").style.display = "none";
  document.getElementById("myForm_zett").style.display = "none";
}

function closeForm_hmtl() {
  document.getElementById("myForm_hmtl").style.display = "none";
}

function openForm_zett() {
  document.getElementById("myForm").style.display = "none";
  document.getElementById("myForm_hmtl").style.display = "none";
  document.getElementById("myForm_Tag").style.display = "none";
  document.getElementById("myForm_zett").style.display = "block";
}

function closeForm_zet() {
  document.getElementById("myForm_zett").style.display = "none";
}


function btnClick() {
    if (!validData())
        return false;
}

function eliminar_extracto(id) {
  window.location.replace("/eliminar_extracto/".concat(id));
}

function hacer_ref(id){
  window.location.replace("/extracto_a_ref/".concat(id));
}

function eliminar_referencia(id) {
  window.location.replace("/eliminar_referencia/".concat(id));
}

function eliminar_zettel(id) {
  window.location.replace("eliminar_zettel/".concat(id));
}

function relacionar_zettel(id) {
  window.location.replace("/relacionar_zettel_zet/".concat(id));
}

function relacionar_extracto_zettel(id) {
  window.location.replace("/relacionar_zettel_ext/".concat(id));
}

function more_dad(num_dad){
  if (num_dad==0){
    document.getElementById("etiqueta_padre2").style.display = "none";
    document.getElementById("etiqueta_padre3").style.display = "none";
  } else if (num_dad==1){
    document.getElementById("etiqueta_padre2").style.display = "block";
    document.getElementById("etiqueta_padre3").style.display = "none";
  } else if (num_dad==2){
    document.getElementById("etiqueta_padre2").style.display = "block";
    document.getElementById("etiqueta_padre3").style.display = "block";
  }
}


</script>


{% endblock %}
